# ========================
# Gradle & Build
# ========================
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin/Native & Multiplatform caches
.kotlin/
.kotlin_cache/
.konan/

# ========================
# Android specific
# ========================
*.apk
*.aar
*.ap_
*.aab

# Local configuration
local.properties

# IntelliJ / Android Studio
*.iml
.idea/
.navigation/
captures/

# External native build
.externalNativeBuild
.cxx/

# ========================
# iOS specific
# ========================
# Xcode
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint

# Cocoapods
Pods/

# Derived data
DerivedData/

# SwiftPM
.build/

# ========================
# General
# ========================
.DS_Store
Thumbs.db
*.swp
*.lock

# Logs
*.log

# Proguard
proguard/

# Profiling
*.hprof

# Lint
lint/
